<!-- Auto margins in flex box will push the element to one of the ends -->
<footer class="footer bg-dark text-center py-3 text-light mt-auto">
    <div class="container">
        <span class="text-center text-muted">
            Kai's Something Awesome project
        </span>
    </div>
</footer>