<% layout('layouts/boilerplate.ejs') %>

<h1>Posts</h1>
<div class="mt-3 mb-4">
    <a class="btn btn-primary" href="/posts/new">New Post</a>
</div>

<!-- style="width: 18rem;" -->

<% posts.forEach(post => { %>
    <div class="card mb-3" >
        <div class="row">
            <div class="col-md-4">
                <img src="<%= post.image %> " class="card-img-top" alt="..." crossorigin="anonymous">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title"><%= post.title %> </h5>
                        <% if (post.category === "question") { %>
                            <i class="bi bi-question-lg" id="category-icon"></i>
                        <% } else if (post.category === "fluff") { %>
                            <i class="bi bi-cloud-fill" id="category-icon"></i>
                        <% } else if (post.category === "announcement") { %>
                            <i class="bi bi-megaphone-fill" id="category-icon"></i>
                        <% } else { %>
                            <i class="bi bi-globe" id="category-icon"></i>
                        <% } %> 
                        
                    </div>
                    <p class="card-text"><%= post.content %> </p>
                    <a href="/posts/<%= post.id %> " class="btn btn-primary">View Post</a>
                  </div>
            </div>
        </div>
        
      </div>
<% }) %>

